@import "section.css";
@import "footer.css";
body{
    width: 940px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header, section, article, footer,aside{
    display: block;
}
header,footer{
    padding: 0px;
    text-align: center;
}
aside{
    float: left;
}

