body{
    width: 940px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header, section, article, footer{
    display: block;
}
header,footer{
    padding: 0px;
    text-align: center;
}