body{
    width: 940px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header, section, article, footer,aside{
    display: block;
}
header,footer{
    padding: 0px;
    text-align: center;
}
aside{
    float: left;
}
section{
    float: right;
    width: 700px;
    padding-left: 20px;
    border-left: 2px dashed rgb(32, 142, 216);    
}
